

a {
    text-decoration: underline;
  }
  h4 {
    color: white;
  }

  p {
    font-family: Atkinson, sans-serif;
    margin: 20px 0px;
  }
  pre {
    width: full;
    margin: 20px 0;
    font-size: 16px;
  }
  code {
    overflow: scroll;
  }
  .date {
    margin-bottom: 0.5em;
    color: gray;
  }
  .last-updated-on {
    font-style: italic;
  }

  h1,
  h2,
  h3,
  h4 {
    font-weight: 600;
    font-family: Space Mono, sans-serif
  }
    h1,
  h2,
  h3,
  h4,p {
    font-family: Space Mono, sans-serif
  }
  h1 {
    font-size: 2em;
  }
    h2 {
    font-size: 1.6em;
  }
  h3 {
    font-size: 1.4em;
  }
  h4 {
    font-size: 1.2em;
  }
  p{
    font-weight:500
  }
  @media (max-width: 700px) {
    h1 {
      font-size:24px;
    }
    h2{
      font-size:22px;
    }
    h3{
      font-size:20px;
    }
    h4{
      font-size:18px
    }
    p {
      font-size: 14px;
    }
  }

  a {
    font-weight: 600;
  }
