---
import BaseHead from "../components/BaseHead.astro";
---

<html lang="en" class="scroll-smooth">
  <head>
    <BaseHead title="null" description="page not found" />
  </head>
  <body class="flex h-[100vh] justify-center items-center">
    <p class="text-white text-2xl font-space">null</p>
  </body>
</html>
