---
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { Icon } from "astro-icon/components";
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
import TestC from "../components/TestC";
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <main class="w-full">
    <div
      class="flex sm:flex-row flex-col items-center justify-evenly h-full w-full text-center"
      transition:animate="slide"
    >
      <div>
        <h1
          class="font-poppins font-extralight text-7xl bg-clip-text text-transparent bg-gradient-to-r from-pink-500 to-violet-500"
        >
          Saif Al-Din Samy
        </h1>
        <TestC />
        <p class="text-lg font-ibm mt-4 desc">
          I am a full-stack developer with passion to all things software, and I
          love Coding
        </p>
        <div class="flex justify-between">
          <a
            href="/Portfolio/projects"
            class="hover:bg-gradient-to-r from-pink-500 to-violet-500 bg-white bg-clip-border w-fit p-[1px]"
            ><span class="bg-black flex items-center gap-2 p-4 px-10"
              >See My Projects <Icon name={"maki:arrow"} /></span
            ></a
          >
          <a
            href="/Portfolio/projects"
            class="hover:bg-gradient-to-r from-pink-500 to-violet-500 bg-white bg-clip-border w-fit p-[1px]"
            ><span class="bg-black flex items-center gap-2 p-4 px-10"
              >Contact Me!</span
            ></a
          >
        </div>
      </div>
    </div>
  </main>
</Layout>
