---
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <main
    class="w-full flex flex-col gap-10 items-center text-pretty text-start selection:text-white"
  >
    <div
      class="flex max-w-[1200px] items-start h-full w-full"
      transition:animate="slide"
    >
      <div class="flex flex-col gap-4 font-space">
        <div>
          <h1 class="sm:text-2xl font-bold text-xl text-violet-700">
            Saif Al-Din Samy
          </h1>
          <p class="sm:text-lg text-base my-2">
            Hi! I am a full-stack developer with passion to all things software,
            and I love Coding.
          </p>
        </div>

        <div class="flex justify-between sm:text-lg text-base">
          <a href="/Portfolio/projects" class="link leading-tight"
            >See My Projects</a
          >
          <a href="/Portfolio/projects" class="link leading-tight">Contact Me</a
          >
        </div>
      </div>
    </div>
  </main>
</Layout>
