---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Line from "../components/Line.astro";
import { Icon } from "astro-icon/components";
---

<html>
  <head>
    <BaseHead
      title="Saif's Projects"
      description="My side/work related projects"
    />
  </head>
  <body class="bg-black text-white">
    <Header title="xdd" />
    <main class="flex p-10 w-[1100px]">
      <div class="flex flex-col gap-10 w-full">
        <div class="flex">
          <img
            src="/projects/WTG.png"
            class="w-[390px] h-[193px]"
            alt="a screenshot of What To Game website"
          />
          <div class="px-4">
            <h1 class="text-3xl font-bold">What To Game</h1>
            <div class="flex gap-2 items-center text-sm">
              <span
                class="border border-emerald-600 text-emerald-600 p-0.5 px-5 rounded-full"
                >1/2024</span
              >
              <Icon name={"mdi:dot"} />
              <label class="text-gray-400">Frontend</label>
            </div>
            <p class="text-sm mt-3 text-gray-300">
              • A dynamic website designed to help users search and discover new
              games to play. <br /> • Users can easily search for games, sort and
              filter results based on the platform of their choice. <br /> • Each
              game listing provides detailed information, including a comprehensive
              game description, platform compatibility, user ratings, and games from
              the same series search
            </p>
          </div>
        </div>
        <Line color="gray-500" width="w-4/6" />
        <div class="bg-purple-500 w-[300px] h-40 rounded-lg"></div>
        <Line color="gray-500" width="w-4/6" />
        <div class="bg-purple-500 w-[300px] h-40 rounded-lg"></div>
        <Line color="gray-500" width="w-4/6" />
        <div class="bg-purple-500 w-72 h-40 rounded-lg"></div>
        <Line color="gray-500" width="w-4/6" />
        <div class="bg-purple-500 w-72 h-40 rounded-lg"></div>
        <div class="bg-purple-500 w-72 h-40 rounded-lg"></div>
      </div>
    </main>
  </body>
</html>
