---
import { Icon } from "astro-icon/components";
const today = new Date();
---

<footer>
  &copy; {today.getFullYear()} Saif Al-Din Samy. All rights reserved.
  <div class="social-links">
    <a href="https://linkedin.com/in/saifowlen" target="_blank">
      <span class="sr-only text-white">Connect With Me on Linkedin</span>
      <Icon name="mdi:linkedin" class={"w-12 h-12"} />
    </a>
    <a href="https://twitter.com/SeifNeedsHelp" target="_blank">
      <span class="sr-only text-white">Follow Me on Twitter</span>
      <Icon name={"mdi:twitter"} class={"w-12 h-12"} />
    </a>
    <a href="https://github.com/SaifOwleN" target="_blank">
      <span class="sr-only">Check My GitHub</span>
      <Icon name={"mdi:github"} class={"w-12 h-12"} />
    </a>
  </div>
</footer>
<style>
  footer {
    padding: 2em 1em 6em 1em;
    color: rgb(var(--gray));
    text-align: center;
  }
  .social-links {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-top: 1em;
  }
  .social-links a {
    text-decoration: none;
    color: var(--grey);
    transition:
      color ease-in-out 200ms,
      box-shadow ease-in-out 200ms;
  }

  .social-links a:hover {
    color: rgb(var(--gray-light));
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
</style>
