---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, "");
console.log(isActive);
---

<div class="flex flex-col w-min font-space group relative">
  <a
    href={href}
    class:list={[className, { active: isActive }, "inline-block font-bold"]}
    {...props}
  >
    <slot />
  </a>
  <span
    class={`absolute w-full h-full top-full ${
      isActive
        ? "block"
        : "w-[0px] h-full group-hover:w-full transition-[width] duration-200"
    } `}
  >
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 206 40">
      <!-- svg-source:excalidraw -->
      <defs>
        <style class="style-fonts">
          @font-face {
            font-family: "Virgil";
            src: url("https://excalidraw.com/Virgil.woff2");
          }
          @font-face {
            font-family: "Cascadia";
            src: url("https://excalidraw.com/Cascadia.woff2");
          }
          @font-face {
            font-family: "Assistant";
            src: url("https://excalidraw.com/Assistant-Regular.woff2");
          }
        </style>
      </defs>
      <g transform="translate(10 30) rotate(0 93 -10)" stroke="none"
        ><path
          fill="rgb(109,40,217)"
          d="M -3.42,-3.91 Q -3.42,-3.91 -1.09,-5.88 1.24,-7.85 3.44,-9.64 5.64,-11.43 7.46,-12.85 9.28,-14.27 11.37,-15.59 13.47,-16.90 16.61,-18.41 19.76,-19.93 23.25,-19.90 26.75,-19.88 29.35,-18.05 31.96,-16.21 33.42,-14.54 34.88,-12.88 36.84,-9.98 38.80,-7.09 40.40,-9.03 42.00,-10.97 43.81,-12.10 45.62,-13.22 47.81,-14.43 50.01,-15.63 52.26,-17.32 54.51,-19.02 57.53,-19.44 60.54,-19.86 63.14,-18.46 65.73,-17.05 68.23,-13.92 70.73,-10.79 75.99,-11.76 81.25,-12.73 85.33,-14.02 89.42,-15.30 93.13,-16.62 96.84,-17.93 99.48,-19.15 102.11,-20.37 104.16,-21.50 106.21,-22.63 108.68,-23.39 111.16,-24.16 115.60,-24.29 120.03,-24.42 124.34,-24.07 128.64,-23.72 134.21,-23.45 139.77,-23.18 146.16,-22.97 152.55,-22.76 158.14,-22.61 163.73,-22.46 168.41,-22.34 173.08,-22.23 175.64,-22.42 178.21,-22.62 180.46,-22.91 182.71,-23.20 183.37,-23.54 184.03,-23.88 184.70,-24.09 185.37,-24.30 186.07,-24.29 186.78,-24.28 187.44,-24.04 188.10,-23.80 188.66,-23.36 189.21,-22.93 189.59,-22.34 189.98,-21.75 190.15,-21.07 190.33,-20.39 190.28,-19.68 190.23,-18.98 189.95,-18.33 189.68,-17.68 189.22,-17.16 188.75,-16.63 188.14,-16.28 187.53,-15.92 186.84,-15.78 186.15,-15.65 185.45,-15.74 184.75,-15.82 184.12,-16.13 183.49,-16.44 182.98,-16.93 182.48,-17.43 182.16,-18.05 181.85,-18.68 181.75,-19.38 181.64,-20.08 181.77,-20.77 181.90,-21.46 182.24,-22.08 182.58,-22.69 183.10,-23.17 183.62,-23.64 184.26,-23.93 184.91,-24.21 185.61,-24.27 186.31,-24.33 187.00,-24.17 187.68,-24.01 188.28,-23.63 188.87,-23.26 189.32,-22.71 189.76,-22.17 190.01,-21.51 190.26,-20.85 190.29,-20.15 190.31,-19.44 190.11,-18.77 189.91,-18.09 189.50,-17.52 189.10,-16.94 188.53,-16.53 187.96,-16.11 187.96,-16.11 187.96,-16.11 185.33,-15.45 182.71,-14.79 180.46,-15.08 178.21,-15.37 175.65,-15.57 173.08,-15.76 168.41,-15.64 163.73,-15.53 158.14,-15.38 152.55,-15.22 146.16,-15.01 139.78,-14.81 134.22,-14.53 128.66,-14.25 124.38,-13.89 120.10,-13.52 115.62,-13.69 111.13,-13.86 108.52,-12.93 105.90,-12.00 103.13,-10.77 100.36,-9.54 96.78,-7.80 93.19,-6.05 89.59,-4.20 85.98,-2.35 81.84,-0.13 77.71,2.08 74.24,2.75 70.77,3.42 67.07,1.94 63.37,0.47 61.84,-1.40 60.31,-3.28 59.92,-5.38 59.52,-7.49 57.77,-6.24 56.01,-5.00 54.16,-3.93 52.31,-2.86 50.01,-1.33 47.72,0.18 45.17,1.50 42.61,2.83 39.77,3.46 36.94,4.10 33.17,2.44 29.40,0.77 27.54,-2.23 25.68,-5.23 24.69,-7.19 23.71,-9.14 21.31,-8.44 18.90,-7.75 15.48,-5.62 12.06,-3.48 10.00,-1.83 7.95,-0.19 5.69,1.86 3.42,3.91 2.90,4.26 2.38,4.62 1.80,4.83 1.21,5.05 0.59,5.12 -0.03,5.20 -0.65,5.12 -1.27,5.04 -1.86,4.81 -2.44,4.59 -2.95,4.23 -3.47,3.87 -3.88,3.40 -4.29,2.92 -4.58,2.37 -4.87,1.81 -5.02,1.20 -5.16,0.59 -5.16,-0.03 -5.15,-0.65 -5.00,-1.26 -4.85,-1.87 -4.55,-2.42 -4.26,-2.98 -3.84,-3.44 -3.42,-3.91 -3.42,-3.91 L -3.42,-3.91 Z"
        ></path></g
      ></svg
    ></span
  >
</div>
