---
/*         <a href="https://linkedin.com/in/saifowlen" target="_blank">
          <Icon name="mdi:linkedin" />
        </a>
        <a href="https://twitter.com/SeifNeedsHelp" target="_blank">
          <span class="sr-only text-white">Follow Me on Twitter</span>
          <Icon name={"mdi:twitter"} />
        </a> */

import HeaderLink from "./HeaderLink.astro";
import { Icon } from "astro-icon/components";
---

<header>
  <nav class="text-white text-base py-6 gap-2 flex items-center justify-around">
    <a
      href="/Portfolio"
      class="text-4xl mb-0 font-persona relative group flex items-center gap-2"
      ><img src="/Portfolio/bg.png" class="h-9" alt="persona5-logo" />SAS<div
        class="absolute text-3xl transform font-expose opacity-0 group-hover:opacity-100 text-[#c12129] -rotate-12 top-4 -right-3"
      >
        Home
      </div></a
    >
    <div class="flex gap-x-10">
      <div class="flex justify-between gap-10 items-center">
        <HeaderLink href="/Portfolio/blog">Blog</HeaderLink>
        <HeaderLink href="/Portfolio/projects">Projects</HeaderLink>
        <HeaderLink target="_blank" href="/Portfolio/resume.pdf">
          Resume
        </HeaderLink>
        <div class="items-center gap-1 social-media md:flex hidden">
          <HeaderLink
            target="_blank"
            href={"https://github.com/SaifOwleN"}
            class="pl-2 text-3xl"
          >
            <span class="sr-only">Check My GitHub</span>
            <Icon name="mdi:github" />
          </HeaderLink>
          <HeaderLink
            target="_blank"
            href="https://linkedin.com/in/saifowlen"
            class="pl-2 text-3xl"
          >
            <span class="sr-only text-white">Connect With Me on Linkedin</span>
            <Icon name="mdi:linkedin" />
          </HeaderLink>
        </div>
      </div>
    </div>
  </nav>
</header>
