---
import { type CollectionEntry, getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import { Image } from "astro:assets";
export async function getStaticPaths() {
  const projects = await getCollection("project");
  return projects.map((project) => ({
    params: { slug: project.slug },
    props: project,
  }));
}

import TestC from "../../components/TestC.jsx";

type Props = CollectionEntry<"project">;
const { title, description, pubDate, images } = Astro.props.data;
const project = Astro.props;
const { Content } = await project.render();
---

<Layout title={title} description={description}>
  <div class="flex justify-between">
    <div>
      <Content />
    </div>
    <div>
      {
        images.map((image, index) => (
          <Image
            src={"/projects/" + image}
            alt={`Image ${index}`}
            width={600}
            height={300}
            loading="lazy"
            decoding="async"
          />
        ))
      }
    </div>
  </div>
</Layout>
