---
import Layout from "../../layouts/Layout.astro";
import ProjectCard from "../../components/ProjectCard.astro";
---

<Layout title="Saif's Projects" description="">
  <main class="font-space" transition:animate="slide">
    <h1 class="mb-4 sm:text-3xl text-[#DADADB] text-2xl font-bold">Projects</h1>
    <div class="flex flex-col justify-center gap-4 flex-wrap">
      <ProjectCard
        image="/Portfolio/projects/Rordle.png"
        title="Rordle"
        tags={["Fullstack", "Game"]}
        link="https://rordle2.vercel.app/"
        date="Apr, 2024"
      />
      <ProjectCard
        image="/Portfolio/projects/WTG/WTG.png"
        title="What To Game"
        tags={["Frontend", "Discovery"]}
        link="https://what-to-game.vercel.app/"
        date="Jan, 2024"
      />
      <ProjectCard
        image="/Portfolio/projects/DBMS/DBMS.png"
        title="Database Managment Website"
        tags={["Fullstack", "CRUD"]}
        link="/Portfolio/projects/dbms"
        date="Feb, 2024"
      />
    </div>
  </main>
</Layout>
