---
import { ViewTransitions } from "astro:transitions";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import "../styles/global.css";
interface Props {
  title: string;
  description: string;
}
const { title, description } = Astro.props;
---

<html lang="en" class="scroll-smooth">
  <head>
    <ViewTransitions />
    <BaseHead title={title} description={description} />
  </head>
  <body class="text-white md:m-4 m-2 rounded-xl bg-repeat-space">
    <Header />
    <slot />
  </body>
</html>
